@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Julius Sans One', sans-serif;
  background-color: blue;
  color: orange;
  margin:5px;
  padding: 0;
  // height: 100%;
  // width: 100%;
}
*/
.navbar{
  align-content: center !important;
  
  .collapse, .navbar-collapse{
    ul{
      border-bottom: 5px solid blue;
      list-style-type: none;
      .box {
        display: flex;
        text-align: center !important;
      align-items: center;
      justify-content: center;
      }
      .module {
        padding: 20px;
        text-align: center !important;
        color: orange;
        font-family: 'Raleway';font-size: 22px;
        max-height: 120px;
        min-width: 120xpx;
        background-color: blue;
        border-radius: 2px;
        font-size: 24px;
      }
      .module:hover {
        background-color: blue;
        cursor: pointer;
        color: #1f4558;
      }
    }
  }
}
// .btn-success, .btn-success:hover, .btn-success:active {
//   background-color: blue;
//   border-color: blue;
// }
// p {
//   color: blue;
//   font-size: 100%;
// }

.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}


@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}


